<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleTypeRole</key>
	<string>Editor</string>
	<key>CFBundleURLName</key>
	<string>com.rushant.snatchshotapp</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.450844969376-g4t9iv2qeitf6stbkvcbgn9auli91qb5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.rushant.snatchshotapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>slayai</string>
			</array>
		</dict>
	</array>
	<key>GOOGLE_CLIENT_ID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
		<string>googlechrome</string>
		<string>googlechromes</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>13.221.107.42</key>
			<dict>
				<key>NSAllowsArbitraryLoadsInWebContent</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Privacy – Calendars Usage Description</key>
	<string>Google Sign In may request access to your calendar</string>
	<key>Privacy – Camera Usage Description</key>
	<string>We use the camera to capture your photos and analyze your poses to suggest personalized fashion outfits and styling recommendations</string>
	<key>Privacy – Microphone Usage Description</key>
	<string>We use the microphone for voice interactions and audio recording</string>
	<key>Privacy – Photo Library Usage Description</key>
	<string>We show your recent photos for selection</string>
	<key>Privacy – Reminders Usage Description</key>
	<string>Google Sign In may request access to your reminders</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
